@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900&display=swap');

html,
body {
  height: 100%;
  font-family: "Cairo", sans-serif;
  -webkit-font-smoothing: antialiased;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 400;
  font-family: "Cairo", sans-serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  font-family: "Cairo", sans-serif;
  color: #6f6f6f;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}

ul,
ol {
  padding: 0;
  margin: 0;
}


/*---------------------
  Helper CSS
-----------------------*/
.section-title {
  margin-bottom: 50px;
  text-align: center;
}

.section-title h2 {
  color: #1c1c1c;
  font-weight: 700;
  position: relative;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.spad {
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
  color: #fff;
}

/* buttons */
.primary-btn {
  display: inline-block;
  font-size: 15px;
  padding: 10px 28px 10px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #cc866c;
  letter-spacing: 2px;
  border-radius: 27px;
}

.site-btn {
  font-size: 14px;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  padding: 13px 30px 12px;
  background: #cc866c;
  border: none;
}

/* Preloder */
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #000;
}

.spad {
  padding-top: 100px;
  padding-bottom: 100px;
}


/*---------------------
  Header
-----------------------*/
.header {
  background-color: #f5f5f5;
}

.header__logo {
  text-align: center;
  padding: 15px 0;
}

.header__logo a {
  display: inline-block;
}

.header__menu {
  padding: 24px 0;
}

.header__menu ul li {
  list-style: none;
  display: inline-block;
  margin-right: 50px;
  position: relative;
}

.header__menu ul li .header__menu__dropdown {
  position: absolute;
  left: 0;
  top: 50px;
  background: #222222;
  width: 180px;
  z-index: 9;
  padding: 5px 0;
  transition: all, 0.3s;
  opacity: 0;
  visibility: hidden;
}

.header__menu ul li .header__menu__dropdown li {
  margin-right: 0;
  display: block;
}

.header__menu ul li .header__menu__dropdown li:hover>a {
  color: #cc866c;
}

.header__menu ul li .header__menu__dropdown li a {
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 400;
  padding: 5px 15px;
}

.header__menu ul li.active a {
  color: #cc866c;
}

.header__menu ul li:hover .header__menu__dropdown {
  top: 30px;
  opacity: 1;
  visibility: visible;
}

.header__menu ul li:hover>a {
  color: #cc866c;
}

.header__menu ul li:last-child {
  margin-right: 0;
}

.header__menu ul li a {
  font-size: 14px;
  color: #252525;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all, 0.3s;
  padding: 5px 0;
  display: block;
  text-decoration: none;
}

.header__cart {
  text-align: center;
  padding: 24px 0;
}

.header__cart ul {
  display: inline-block;
  margin-right: 25px;
}

.header__cart ul li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

.header__cart ul li:last-child {
  margin-right: 0;
}

.header__cart ul li a {
  position: relative;
}

.header__cart ul li a i {
  font-size: 18px;
  color: #1c1c1c;
}

.header__cart ul li a span {
  height: 13px;
  width: 13px;
  background: #cc866c;
  font-size: 10px;
  color: #ffffff;
  line-height: 13px;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -12px;
}

.header__cart .header__cart__price {
  font-size: 14px;
  color: #6f6f6f;
  display: inline-block;
}

.header__cart .header__cart__price span {
  color: #252525;
  font-weight: 700;
}

.humberger__menu__wrapper {
  display: none;
}

.humberger__open {
  display: none;
}

/*---------------------
  Breadcrumb
-----------------------*/
.breadcrumb-section {
  background-color: #f2f2f2;
  padding: 30px 0;
}

.breadcrumb__text h2 {
  font-size: 32px;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
}

.breadcrumb__option a,
.breadcrumb__option span {
  font-size: 14px;
  color: #6c757d;
}

.breadcrumb__option a {
  font-size: 15px;
  text-decoration: none;
  color: #cc866c;
  margin-right: 26px;
  position: relative;
}


.breadcrumb__option a:hover {
  font-size: 18px;
}

.breadcrumb__option a::after {
  position: absolute;
  right: -17px;
  top: -1px;
  content: "|";
  color: #200204;
}


/*---------------------
  Home Page
-----------------------*/
.hero__categories {
  background-color: #cc866c;
  border-radius: 5px;
  padding: 15px;
  position: relative;
}

.hero__categories__all {
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

.hero__categories__all span {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.fa-chevron-down {
  position: absolute;
  right: 27px;
  top: 19px;
  font-size: 18px;
  color: #ffffff;
}

.fa-bars {
  margin-right: 10px;
  font-size: 18px;
  color: #ffffff;
}

.hero__categories__list {
  list-style: none;
  padding: 0;
  display: none;
}

.hero__categories__list li {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.hero__categories__list li:last-child {
  border-bottom: none;
}

.hero__categories__list li a {
  color: #e0e0e0;
  text-decoration: none;
}

.hero__categories__list ul {
  display: none;
  list-style-type: none;
  padding-left: 20px;
  background-color: #ddd;
  border-radius: 5px;
  margin-top: 5px;
}

.hero__categories__list li:hover>ul {
  display: block;
}

.hero__categories__list li ul li {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.hero__categories__list li ul li:last-child {
  border-bottom: none;
}

.hero__categories__list li ul li a {
  color: #333;
  text-decoration: none;
}

.hero__categories__list li ul li a:hover {
  text-decoration: underline;
}

.hero__categories__list p {
  font-size: 0.9em;
  color: #666;
  padding: 5px 0;
}

.hero__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__search__form {
  flex-grow: 1;
  margin-right: 20px;
}

.hero__search__form input[type="text"] {
  border: 1px solid #e0e0e0;
  padding: 10px;
  width: 80%;
  margin-right: 10px;
}

.site-btn {
  background-color: #cc866c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.site-btn:hover {
  background-color: #c39280;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
}

.section-title span {
  font-size: 20px;
  color: #c39280;
  font-weight: 500;
  letter-spacing: 4px;
  display: block;
  text-transform: uppercase;
}

.section-title h2 {
  color: #200204;
  font-size: 50px;
  line-height: 50px;
}

.carousel-item {
  height: 450px !important;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.carousel-caption h3 {
  font-size: 28px;
  font-family: 'Arial', sans-serif;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-caption p {
  font-size: 17px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section-title span {
  font-size: 20px;
  color: #c39280;
  font-weight: 500;
  letter-spacing: 4px;
  display: block;
  text-transform: uppercase;
}

.about__text .section-title h2 {
  font-size: 50px;
}

.section-title h2 {
  font-family: "Mattings Regular";
  line-height: 50px;
}

.section-title h2:after {
  background: white;
}

.about__text p {
  color: #200204;
  line-height: 30px;
  margin-bottom: 65px;
}

.top-services {
  position: relative;
}

.top-services::after {
  position: absolute;
  left: 0;
  top: 0;
  height: 825px;
  background: url(../img/services-bg.png);
  width: 100%;
  content: "";
  z-index: -1;
}

.services-page .row {
  margin-bottom: 15px;
}

.services-page .row .col-lg-6 {
  padding-bottom: 30px;
}

.services__item__text {
  padding: 30px 30px;
  position: relative;
  left: 0;
  top: 0;
  width: calc(100% - 30px);
  transition: all, 0.3s;
}

.services__item.services__item__top:hover .services__item__text {
  top: 30px;
}

.services__item:hover .services__item__text {
  top: -30px;
  box-shadow: 0px 5px 25px rgba(83, 116, 131, 0.16);
  background: #ffffff;
}


.services__item__text h5 {
  font-size: 20px;
  font-weight: 500;
  color: #200204;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.services__item__text span {
  color: #c39280;
  display: block;
  font-size: 18px;
  font-weight: 500;
}

.services__item__pic img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.services__page__pic__item.small__item {
  padding-top: 50px;
}

.services__page__text .price {
  font-size: 16px;
  color: #c39280;
  font-weight: 500;
  background: rgb(255, 255, 255);
  position: relative;
  margin-bottom: 10px;
}

.services__page__text .price::after {
  position: absolute;
  left: 175px;
  top: 15px;
  height: 1px;
  width: 80px;
  background: #c39280;
  content: "";
}

/*---------------------
  Service Page
-----------------------*/
.services__page__pic__item {
  width: calc(50% - 30px);
  margin-right: 30px;
  float: left;
}

.services__page__text h2 {
  color: #200204;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.services__page__text p {
  color: #200204;
  line-height: 30px;
  margin-bottom: 20px;
}

.services__page__text ul {
  margin-bottom: 40px;
}

.services__page__text ul li {
  list-style: none;
  font-size: 15px;
  color: #200204;
  margin-bottom: 15px;
}

.icon_check::before {
  content: "\2713";
  font-size: 15px;
  color: #c39280;
}

.services__page__text ul li span {
  font-size: 15px;
  color: #c39280;
  margin-right: 15px;
}

/*---------------------
  Booking Page
-----------------------*/
.booking-section {
  padding: 50px 0;
}

.booking-section img {
  max-width: 100%;
  height: auto;
}

.booking-section form {
  margin-top: 20px;
}

.left-column-bg {
  background: url('../img/callto-text-bg.jpg') no-repeat center center;
  background-size: cover;
  min-height: 500px;
}

.booking-form-bg {
  background: url('../img/callto-quote-bg.jpg') no-repeat center center;
  background-size: cover;
  padding: 30px;
}

.booking-section button {
  background-color: #c39280;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.booking-section button:hover {
  background-color: #c39280;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* QUYNH */
/* Basic */


.container {
  max-width: 1170px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: #666666;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
}


a,
.btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

/* End basic */


/* Button */


.titlepage h2 {
  font-size: 45px;
  color: #2d2d2d;
  line-height: 50px;
  font-weight: bold;
  padding: 0;
  display: inline-block;
}


.read_more {
  font-size: 16px;
  background: #363636;
  max-width: 204px;
  width: 100%;
  transition: ease-in all 0.5s;
  color: #fff;
  display: block;
  height: 61px;
  line-height: 61px;
  text-align: center;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.read_more:hover {
  background: #fdc001;
  color: #fff;
}


.text_align_center {
  text-align: center;
}

.img_responsive {
  max-width: 100%;
}

/* end Button */


/* Gallery */

.slider_main .carousel-indicators {
  display: none;
}

#banner1 .carousel-control-prev,
#banner1 .carousel-control-next {
  width: 76px;
  height: 76px;
  background-color: #fff;
  color: #000;
  font-size: 40px;
  opacity: 1;
  top: 109%;
  box-shadow: 0 0 10px rgba(13, 3, 3, 0.38);
  z-index: 999;
  border-radius: 50px;
}

#banner1 .carousel-control-prev {
  left: 44.7%;
}

#banner1 .carousel-control-next {
  right: 44.7%;
}

#banner1 .carousel-control-next:focus,
#banner1 .carousel-control-next:hover,
#banner1 .carousel-control-prev:focus,
#banner1 .carousel-control-prev:hover {
  color: #fff;
  background: #fdc001;
}


.slider_main {
  padding: 80px 0;
}

.relative {
  position: inherit;
  left: 0;
  right: 0;
  text-align: center;
  position: inherit;
}

.carousel-item {
  height: 100%;
  width: 100%;
}

.creative {
  text-align: left;
}

.creative h1 {
  font-size: 80px;
  line-height: 90px;
  color: #101010;
  font-weight: bold;
}

.creative p {
  color: #101010;
  padding: 30px 0 55px 0;
  line-height: 30px;
}

.creative .read_more {
  display: inline-block;
  margin-right: 5px;
}

.mar_right {
  margin-right: -90px;
}

.agency figure {
  margin: 0;
}

.agency figure img {
  filter: drop-shadow(4px 6px 5px #0d03034f);
}

.play_icon {
  padding-bottom: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.play-btn {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 100px auto;
}

.play-btn img {
  z-index: 99;
}

/** end Gallery **/

/** footer **/

.footer {
  margin-top: 90px;
  padding-top: 90px;
  background: #2d2d2d;
  text-align: center;
}

.logo_footer {
  color: #fff !important;
  font-size: 30px;
  padding-bottom: 20px;
  display: block;
  line-height: 23px;
  font-weight: bold;
  text-align: left;
}

.hedingh3 h3 {
  color: #fff;
  font-size: 23px;
  padding-bottom: 20px;
  line-height: 23px;
  font-weight: bold;
  text-align: left;
}

.hedingh3 h3::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background: #fdc001;
  top: 5px;
  border-radius: 20px;
  left: -20px;
}

.hedingh3 p {
  color: #fff;
  text-align: left;
  margin-bottom: 15px;
}

ul.menu_footer {
  text-align: left;
  margin-bottom: 15px;
}

ul.menu_footer li a {
  color: #979793;
  font-size: 17px;
  line-height: 18px;
  padding-bottom: 10px;
  display: block;
}

ul.menu_footer li a:hover {
  color: #fdc001;
}

.newsl {
  width: 100%;
  height: 51px;
  background: #2d2d2d;
  color: #c9c7c7;
  font-size: 17px;
  font-weight: normal;
  box-shadow: inherit;
  padding: 0 15px;
  border: #fff solid 2px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.subsci_btn {
  font-size: 16px;
  transition: ease-in all 0.5s;
  background-color: #fdc001;
  text-transform: uppercase;
  color: #fff;
  display: block;
  font-weight: normal;
  line-height: 51px;
  height: 51px;
  max-width: 191px;
  width: 100%;
  display: block;
  border: #fff solid 2px;
  border-radius: 10px;
}

.subsci_btn:hover {
  transition: ease-in all 0.5s;
  color: #fdc001;
  background-color: #fff;
}

#colof *::placeholder {
  color: #c9c7c7;
  opacity: 1;
}

ul.top_infomation {
  padding-top: 20px;
}

ul.top_infomation li {
  padding-bottom: 4px;
  display: block;
  font-size: 16px;
  color: #979793;
}

ul.top_infomation li i {
  margin-right: 5px;
  color: #fdc001;
  text-align: center;
}

ul.top_infomation li a {
  color: #979793;
}

ul.top_infomation li a:hover {
  color: #fdc001;
}

.copyright {
  margin-top: 90px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #fefefd;
}

.follow h3 {
  color: #fdc001;
  font-size: 23px;
  padding-bottom: 20px;
  line-height: 23px;
  font-weight: bold;
}

ul.social_icon li {
  display: inline-block;
  margin: 0 2px;
}

ul.social_icon li a i {
  font-size: 17px;
  color: #fff;
  transition: ease-in all 0.5s;
  background: #2d2d2d;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50px;
  text-align: center;
}

ul.social_icon li a i:hover {
  color: #fff;
  transition: ease-in all 0.5s;
  background: #fdc001;
}

.copyright p {
  color: #252525;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  padding-top: 35px;
  font-weight: normal;
}

.copyright a {
  color: #252525;
}

.copyright a:hover {
  color: #fdc001;
}


/** end footer **/

/* Artists Detail */
.artists__container {
  display: flex;
  margin: 50px auto;
}

.artists__img {
  padding: 20px;
  width: 100%;
  max-width: 720px;
}

.artists_detail {
  max-width: 720px;
}

.artists_img sub {
  padding: 30px;
  margin: 30px auto;
}


.artist-details {
  padding-top: 80px;
}

.artist__details__pic__item {
  margin-bottom: 20px;
}

.artist__details__pic__item img {
  min-width: 100%;
}

.artist__details__pic__slider img {
  cursor: pointer;
}

.artist__details__pic__slider.owl-carousel .owl-item img {
  width: auto;
}

.artist__details__text h3 {
  color: #252525;
  font-weight: 700;
  margin-bottom: 16px;
}

.artist__details__text .artist__details__rating {
  font-size: 14px;
  margin-bottom: 12px;
}

.artist__details__text .artist__details__rating i {
  margin-right: -2px;
  color: #EDBB0E;
}

.artist__details__text .artist__details__rating span {
  color: #dd2222;
  margin-left: 4px;
}

.artist__details__text .artist__details__price {
  font-size: 30px;
  color: #dd2222;
  font-weight: 600;
  margin-bottom: 15px;
}

.artist__details__text p {
  margin-bottom: 45px;
}

.artist__details__text .primary-btn {
  padding: 16px 28px 14px;
  margin-right: 6px;
  margin-bottom: 5px;
}

.artist__details__text .heart-icon {
  display: inline-block;
  font-size: 16px;
  color: #6f6f6f;
  padding: 13px 16px 13px;
  background: #f5f5f5;
}

.artist__details__text ul {
  border-top: 1px solid #ebebeb;
  padding-top: 40px;
  margin-top: 50px;
}

.artist__details__text ul li {
  font-size: 16px;
  color: #1c1c1c;
  list-style: none;
  line-height: 36px;
}

.artist__details__text ul li b {
  font-weight: 700;
  width: 170px;
  display: inline-block;
}

.artist__details__text ul li span samp {
  color: #dd2222;
}

.artist__details__text ul li .share {
  display: inline-block;
}

.artist__details__text ul li .share a {
  display: inline-block;
  font-size: 15px;
  color: #1c1c1c;
  margin-right: 25px;
}

.artist__details__text ul li .share a:last-child {
  margin-right: 0;
}

.artist__details__quantity {
  display: inline-block;
  margin-right: 6px;
}

.pro-qty {
  width: 140px;
  height: 50px;
  display: inline-block;
  position: relative;
  text-align: center;
  background: #f5f5f5;
  margin-bottom: 5px;
}

.pro-qty input {
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #6f6f6f;
  width: 50px;
  border: none;
  background: #f5f5f5;
  text-align: center;
}

.pro-qty .qtybtn {
  width: 35px;
  font-size: 16px;
  color: #6f6f6f;
  cursor: pointer;
  display: inline-block;
}

.artist__details__tab {
  padding-top: 85px;
}

.artist__details__tab .nav-tabs {
  border-bottom: none;
  justify-content: center;
  position: relative;
}

.artist__details__tab .nav-tabs:before {
  position: absolute;
  left: 0;
  top: 12px;
  height: 1px;
  width: 370px;
  background: #ebebeb;
  content: "";
}

.artist__details__tab .nav-tabs:after {
  position: absolute;
  right: 0;
  top: 12px;
  height: 1px;
  width: 370px;
  background: #ebebeb;
  content: "";
}

.artist__details__tab .nav-tabs li {
  margin-bottom: 0;
  margin-right: 65px;
}

.artist__details__tab .nav-tabs li:last-child {
  margin-right: 0;
}

.artist__details__tab .nav-tabs li a {
  font-size: 16px;
  color: #999999;
  font-weight: 700;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
}

.artist__details__tab .artist__details__tab__desc {
  padding-top: 44px;
}

.artist__details__tab .artist__details__tab__desc h6 {
  font-weight: 700;
  color: #333333;
  margin-bottom: 26px;
}

.artist__details__tab .artist__details__tab__desc p {
  color: #666666;
}



/********** Artist Grid **********/
/*******************************/
.class {
  position: relative;
  padding: 45px 0 15px 0;
}

.class #class-filter {
  padding: 0;
  margin: -15px 0 25px 0;
  list-style: none;
  font-size: 0;
  text-align: center;
}

.class #class-filter li {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  padding: 6px 12px;
  color: #343148;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0;
  background: none;
  border: 1px solid #343148;
  transition: .3s;
}

.class #class-filter li:hover,
.class #class-filter li.filter-active {
  background: #343148;
  color: #F7CAC9;
}

.class .class-item {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  transition: .3s;
}

.class .class-wrap {
  position: relative;
  width: 100%;
}

.class .class-img {
  position: relative;
}

.class .class-img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.class .class-text {
  position: relative;
  padding: 30px 30px 25px 30px;
  border-right: 1px solid rgba(0, 0, 0, .07);
  border-bottom: 1px solid rgba(0, 0, 0, .07);
  border-left: 1px solid rgba(0, 0, 0, .07);
}

.class .class-text h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.class .class-artist {
  position: relative;
  height: 40px;
  margin-top: -50px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  border-radius: 40px;
}

.class .class-artist img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #F7CAC9;
}

.class .class-artist h3 {
  width: calc(100% - 95px);
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 0 15px;
  white-space: nowrap;
  overflow: hidden;
}

.class .class-artist a {
  width: 40px;
  height: 40px;
  padding: 0 0 3px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 100;
  color: #343148;
  background: #F7CAC9;
  border-radius: 40px;
  transition: .3s;
}

.class .class-wrap:hover .class-artist a {
  color: #F7CAC9;
  background: #343148;
}

.class .class-meta {
  position: relative;
  display: flex;
  align-items: center;
}

.class .class-meta p {
  margin: 0;
  font-size: 14px;
}

.class .class-meta p i {
  margin-right: 5px;
  color: #343148;
}

.class .class-meta p:first-child {
  margin-right: 10px;
}

/* QUỲNH END */



/*------------------------------------
          contact page - start
-------------------------------------*/
.contactUs {
  padding-top: 2em;
}

.mb-4 {
  font-family: cursive;
}

label {
  display: inline-block;
  margin-bottom: 0rem;
  font-size: 1rem;
  font-weight: bold;
}

.text_or {
  padding-top: 35px;
}

.h3 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.h3 {
  font-size: 2rem;
}

.col-md-7 {
  padding-left: 0px;
}

.form-group {
  margin-bottom: 1rem;
}

.p-4 {
  padding: 1.5rem !important;
}

.text {
  text-align: center;
}

.contact-wrap {
  background-color: rgba(223, 181, 208, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.050);
  border-radius: 0.25rem;
}

.contact-map {
  border: 1px solid rgba(0, 0, 0, 0.050);
  border-radius: 0.25rem;
  padding-left: 0px;
  padding-right: 0px;
}

.contact_send {
  padding-top: 5px
}


.dbox {
  width: 100%;
  margin-bottom: 25px;
  padding: 0 20px;
}

.dbox p {
  margin-bottom: 0;
}

.dbox p span {
  font-weight: 500;
  color: #000;
}

.dbox p a {
  color: #2553b8;
}

.dbox .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #cc866c;
  margin: 0 auto;
  margin-bottom: 20px;
}

.dbox .icon span {
  font-size: 20px;
  color: #fff;
}

.dbox .text {
  width: 100%;
}

/*------------------------------------
        contact page - end
-------------------------------------*/


/*------------------------------------
         review page - start
-------------------------------------*/
.title-arttist {
  text-align: center;
  opacity: 0.8;
  font-family: cursive;
  padding-bottom: 15px;
  padding-top: 15px;
}

.card {
  background-color: rgba(223, 181, 208, 0.05);
  margin-bottom: 10px;
  margin-left: -15px;
}

.rating_zone {
  margin-left: 0px;
  border: 1px solid rgba(0, 0, 0, 0.050);
}

.comment_box {
  background-color: rgba(223, 181, 208, 0.05);
  margin-right: 0px;
  margin-left: 0px;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.050);
  border-radius: 0.25rem;
}

.info_artist {
  border: 1px solid rgba(0, 0, 0, 0.050);
  background-clip: border-box;
  background-color: rgba(223, 181, 208, 0.05);
  border-radius: 0.25rem;

}

.comment_label {
  font-weight: bold;
  margin-bottom: 0rem;
  margin-top: 1rem;
}

.row_cmt {
  padding-left: 10px;
  padding-right: 10px;
}

.border_info {
  background-color: #f7e4dba1;
  padding-top: 5px;
}

.img_arttist {
  padding-top: 15px;
}

.bordered-image {
  border: 1px solid #f6e855;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.customers_text {
  text-align: center;
  padding-top: 50px;
  font-size: 1.3rem;
  margin-bottom: 0px;
}

.mt-2 {
  font-size: 1.3rem;
}

.rating-box {
  width: 135px;
  height: 135px;
  margin-right: 10px;
  margin-left: auto;
  background-color: #fcda84;
  border-radius: 15px;
}

.rating_average {
  text-align: center;
  padding-top: 15px;
}

.rating_average_5 {
  text-align: center;
  font-size: 1.2rem;
}

.rating_star {
  padding-left: 48px;
}

.rating-label {
  font-weight: bold
}

.rating-bar {
  width: 300px;
  padding: 6px;
  border-radius: 5px
}

.flex-column {
  padding-top: 10px;
}

.artist_name {
  font-size: 1.5rem;
}

.comments_table {
  padding-bottom: 20px;
}

.comments_title {
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 1.3rem;
}

.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 5px
}

.bar-5 {
  height: 13px;
  border-radius: 20px
}

.bar-4 {
  height: 13px;
  background-color: #fcda84;
  border-radius: 20px
}

.bar-3 {
  height: 13px;
  border-radius: 20px
}

.bar-2 {

  height: 13px;
  border-radius: 20px
}

.bar-1 {
  height: 13px;
  border-radius: 20px
}

td {
  padding-bottom: 5px;
}

.star-active {
  color: #FBC02D;
  margin-top: 10px;
  margin-bottom: 10px
}

.star-active:hover {
  color: #F9A825;
  cursor: pointer
}

.star-inactive {
  color: #CFD8DC;
  margin-top: 10px;
  margin-bottom: 10px
}

.blue-text {
  color: #0091EA
}

.content {
  font-size: 18px
}

.profile-pic {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  margin-right: 30px
}

.pic {
  width: 80px;
  height: auto;
  margin-right: 5px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.vote {
  cursor: pointer
}

.review-art {
  padding-top: 20px;
}

.commment_btn {
  display: flex;
}

.site-btn {
  margin-right: 10px;
}


.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 50px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 30px;
  left: 45px;
}

.rating input {
  display: none;
}

.rating label {
  display: inline-block;
  position: relative;
  width: 1.8em;
  color: #ddd;
  cursor: pointer;
}

.rating label:before {
  content: "\2605";
  position: absolute;
  opacity: 1;
  font-size: 35px;
}

.rating input:checked~label:before {
  opacity: 1;
  color: #ffcc00;
}

.rating label:hover:before,
.rating label:hover~label:before {
  opacity: 1;
  color: #ffcc00;
  transition: color 0.5s ease-in-out;
  transform: scale(1.2);
}

.customers-zone {
  padding-top: 10px;
}

.cuscustomers_pic {
  width: 24%;
  border-radius: 3px;
}

/*-----zoom--------*/
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.zoomed-image {
  max-width: 80%;
  max-height: 80%;
  transition: transform 0.5s ease;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}


.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.customers-zone img:hover+.tooltip {
  display: block;
}

.customers-zone img {
  cursor: pointer;
}
/*------------------------------------
           review page - end
-------------------------------------*/